# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
!bin/console
!bin/symfony_requirements

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~
dila2juricaf/config/conf.sh
dila2juricaf/config/old.sh
juricaf2solr/couchdb2solr/conf/config.php
parsers/ccBelgique/config/config.php
parsers/ccBelgique/config/config.sh
project/config/app.yml
project/config/databases.yml
project/web/sitemap*
backup/
dila2juricaf/log/
data/
juricaf2solr/conf/juricaf.conf
juricaf2solr/conf/mysql_conf.php
project/cache/
project/log/
project/web/pdf/
project/web/documentation/stats/
bin/config.inc

#data
parsers/Monaco/TribunalSupreme/all_urls.txt
parsers/Monaco/TribunalSupreme/tmp/
