.navbar-dark{
  background-color: #375d81 !important;
}
.btn-primary{
  background-color: #4d7eac !important;
}

.bg-gradient{
  background-color: #cfd7de !important;
}

.bottom{
  background-color: #375d81 !important;
  color: white !important;
}

a{
  color : #426E98;
}

.accueil-div{
  background-color: #f7f8f9;
}

.arret h5{
  color:#426e98;
  font-weight: bold;
}

.resultatcols {
    background-color: #f7f8f9;
    border: 1px solid #f1f1f1;
    padding: 5px;
    margin-bottom: 5;

}

.affinercols{
    background-color: #f7f8f9;
    font-size:12px;
    padding: 10px 15px;
    /* border: 1px solid #f1f1f1;
    padding: 5px;
    margin-bottom: 5; */

}

.ul-sans-point{
  padding-top: 0;
  list-style-type: none;
  padding-left: 15px;
}

.affinercols p{
  margin-top: 15px;
}

.btn-primary{
  background-color: #375d81;
}

.a-unstyled{
  text-decoration: inherit;
  color:#375d81;
}
.a-unstyled:hover{
  text-decoration: underline;
}
.card-header{
  background-color:#f7f8f9;
}

.text-justify{
  text-align: justify;
}

.card-text em{
    font-weight: bold;
    font-style: normal;
}

@media screen and (max-width: 991px) {
  .full-width {
      max-width: none;
      margin-right: auto;
      margin-left: auto;
      padding:0 !important;
  }
}
