.navbar-dark{
  background-color: #375d81 !important;
}
.btn-primary{
  background-color: #4d7eac !important;
}

.bg-gradient{
  background-color: #cfd7de !important;
}

.bottom{
  background-color: #375d81 !important;
  color: white !important;
}

a{
  color : #426E98;
}

.accueil-div{
  background-color: #f7f8f9;
}

.arret h5{
  color:#426e98;
  font-weight: bold;
}

.resultatcols {
    background-color: #f7f8f9;
    border: 1px solid #f1f1f1;
    padding: 5px;
    margin-bottom: 5;

}

.recherche{
  line-height: 1;
}

.affinercols{
    background-color: #f7f8f9;
    font-size:12px;
    /* border: 1px solid #f1f1f1;
    padding: 5px;
    margin-bottom: 5; */

}
