.navbar-dark{
  background-color: #375d81 !important;
}
.btn-primary{
  background-color: #4d7eac !important;
}

.bg-gradient{
  background-color: #cfd7de !important;
}

.bottom{
  background-color: #375d81 !important;
  color: white !important;
}

a{
  color : #426E98;
}

.accueil-div{
  background-color: #f7f8f9;
}

.arret h5{
  font-weight: bold;
  /* color: #375d81; */
}

.resultatcols {
    background-color: #f7f8f9;
    border: 1px solid #f1f1f1;
    padding: 5px;
    margin-bottom: 5;
}

.affinercols{
    background-color: #f7f8f9;
    font-size:12px;
    padding: 10px 15px;
}

.ul-sans-point{
  padding-top: 0;
  list-style-type: none;
  padding-left: 15px;
}

.affinercols p{
  margin-top: 15px;
}

.btn-primary{
  background-color: #375d81;
}

.a-unstyled{
  text-decoration: inherit;
  color:#375d81;
}
.a-unstyled:hover{
  text-decoration: underline;
}
.card-header{
  background-color:#f7f8f9;
}

.text-justify{
  text-align: justify;
}

.card-text em{
    font-weight: bold;
    font-style: normal;
}
.arret hr{
  color: #375d81 !important;
}

.slogan{
  font-family: Georgia;
  color: #4E4C4D;
}
.arret h2 {
    font-size: 20px;
    text-decoration: underline;
}
.card-body{
  background-color:white;
}
.card-text{
  color:black;
}
.mt-10{
  margin-top: 100px !important;
}

#arret ul{
  width: min-content;
  display: block;
  margin-left: -70px;
  position:fixed;
}
#arret li{
  border: 1px solid #375d81;
  padding: 5px;
}
.inline li{
  list-style: none;
}

.btn-outline-primary{
  border-color: #375d81;
  color: black;
}

.btn-outline-primary:hover{
  background-color: #375d81;
  border-color: #375d81;
}

.fixed-top {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

@media screen and (max-width: 992px) {
  .full-width {
      max-width: none;
      margin-right: auto;
      margin-left: auto;
      padding:0 !important;
  }

  #filtrer{
    float:right;
  }
  #arret ul{
    display: flex;
    margin: auto;
    position: sticky;
    width: 100%;
    top:65px;
    right: 0;
    left: 0;
    background-color: white;
    padding: 10px 0 10px 0;;
    border-bottom: 1px solid #375d81;
  }
  #arret li{
    padding: 0;
  }

  .navbar-search-input{
    width:80%;
  }
  .nav-link{
    padding: 16px 24px;

  }
  .navbar-collapse {
    background-color: #375d81;
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    height: 100%;
  }

  .navbar-collapse.collapsing {
      right: -100%;
      transition: height 0s ease;
  }
  .navbar-collapse.show {
      right: 0;
      transition: right 400ms ease-in-out;
  }
  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: right 400ms ease-in-out;
  }
  .navbar-toggler i{
    font-size: 2rem;
  }
  .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  #debutArret p:last-of-type{
    background: -webkit-linear-gradient(#797b7c, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media screen and (min-width:991px){
  .bloc-droit{
    border-style: dotted;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-width: thin;
    border-color: #375d81;
  }

}
