FRANCE_CC_API_URL=https://sandbox-api.piste.gouv.fr/cassation/judilibre/v1.0
FRANCE_CC_API_TOKEN=4196zzzz-ffff-aaaa-bbbb-6e5d4dc0cccc
POOL_DIR=real/path/to/data/pool/folder
PYENV=../path/to/pythonvirtualenv/bin/activate
