all:
  juricaf:
    xmlwebdir: "/my/directory/to/data/pool/www"
    xmldatadir: "/my/directory/to/temporary/store/xml"
  solr:
    host: "localhost"
    path: "/solr"
    port: 8080
  couchdb:
   database: juricaf
   host: localhost
   port: 5984